html{
  font-size: 16px;
}
body{
background-color: lightblue;
margin: 0;
}
h1{
  font-size: 4rem;
  text-align: center;
}
a:link, a:visited {
  color: black
}
li:hover, a:hover, a:active {
  color: yellow;
}
li{
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}
ul li{
  font-size: 1rem;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
