html{
  font-size: 16px;
}
body{
background-color: lightblue;
margin: 0;
}

h1{
  font-size: 4rem;
  text-align: left;
  font-family: Helvetica;
}
h2{
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    font-family: Helvetica;
}
h3{
    font-size: 25px;
    text-align: center;
    font-family: Helvetica;
}

p{
  margin: 0;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  font-family: Helvetica;
}
.one {
  font-weight: bold;
}
.two {
  margin-bottom: 20px;
}
.sansserif {
  font-family: Helvetica;
}
a:link, a:visited {
  color: black

}
a:link {
  text-decoration: none;
}
li:hover, a:hover, a:active {
  color: brown;
}
li{
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: left;
  font-family: Helvetica;
}
ul li{
  font-size: 1rem;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.notbold{
    font-weight:normal
}​
ul.ba {
    list-style-type: none;
    text-align: none;
}
header {
  width:75vw;
  margin:25px auto;
  background-color: inherit;

}
main {
  width:75vw;
  margin:25px auto;
  background-color: inherit;
  display: flow-root;

}
.col {
  width: 50%;
  background-color: inherit;
  float:left;
}
@media screen and (max-width: 900px) {
  .col {
    width:100%;
    margin-bottom: 50%;
  }
    header {
      width: 90vw;
    }
    main {
      width: 90vw;
    }
    h1 {
      font-size: 3rem;
    }
  }
