body{
background-color: lightyellow;
}
@media screen and (max-width: 1200px) {
  body{
    background-color: orange;
}
}
@media screen and (max-width: 500px) {
  body{
    background-color: lime;
}
}
*{
  box-sizing: border-box;
}
body{
  margin: 0;

}
.shape1{
  width: 300px;
  height: 300px;

  margin: -50px;
  float: left;
  border: 20px solid tomato;
  opacity: .5;
}
.shape2{
  width: 50px;
  height: 130px;
  background-color: aqua;
  margin: -50px -130px;
  float: left;
  opacity: .5;

}
.shape3{
  width: 200px;
  height: 200px;
  background-color: purple;
  margin: -50px -100px;
  float: left;
  opacity: .5;

}
.shape4{
  width: 150px;
  height: 50px;
  background-color: blue;
  margin: -50px -110px;
  float: left;
  opacity: .5;

}
